.warning-box {
    padding: 20px;
    background-color: yellow;
    border: 5px solid lightgray;
    font-size: large;
    color: red;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-text-nonstop {
    animation: blink 1s infinite; /* Adjust the duration as needed */
  }

  .blinking-text-with-delay {
    animation: blink 1s 5s infinite; /* 1s duration, 5s delay, and then repeat infinitely */
  }

  .blinking-text-5x {
    animation: blink 1s 5; /* 1s duration, 5 iterations */
  }